# BACK BACK BACK BACK BACK BACK
back/node_modules
back/.env
back/coverage
back/coverage.json
back/typechain

#Hardhat files
back/cache
back/artifacts


# FRONT FRONT FRONT FRONT FRONT FRONT
front/node_modules
front/.pnp
front.pnp.js

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
front/*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.pnpm-debug.log*

# local env files
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

# vercel
front/.vercel
